<link rel="stylesheet" href="/css/header.css">
<header>

    <nav>
        <div class="logo">
            <h1>Demo<span>SignIn</span></h1>
        </div>

        <div class="nav-links">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Chat</a></li>
                <li><a href="#">Pages</a></li>
            </ul>
        </div>
    </nav>
</header>