<link rel="stylesheet" href="/css/signIn.css">

<!-- <form action="/users/create-session" method="post">

<input type="email" name="email" placeholder="Email Address" required>
<input type="password" name="password" placeholder="Paswword" required>
<input type="submit" name="button" value="Login">
</form> -->

<body>
        
<form action="/users/create-session" method="post" class="maindiv">
    <img src="/images/CG.png" alt="CodeGram Logo">
    <h1>Sign in</h1>
    <h3>Continue to Demo SignIn</h3>
    <div class="inputs">
        <div class="Fields">
            <div class="Fieldset">
                <input type="text" name="email" class="Before-F5" required>
                <h1 class="Fs-H"><span>Email</span></h1>
                <label  class="placeholder" >Email</label>
            </div>

        </div>
        <div class="Fields">
            <div class="Fieldset">
                <input type="password" name="password" class="Before-F5" required autocomplete="false">
                <h1 class="Fs-H"><span>Password</span></h1>
                <label  class="placeholder" for="">Password</label>
            </div>

        </div>
        <button>Login</button>
    </div>
</form>
</body>